@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input {
        @apply p-4 h-11 rounded shadow;
    }
}



.search-input .wrapper:first-child {
    border:none;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0.1) !important;
    border-radius: 0.25rem;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.card-button {
    @apply w-64 h-64 border-14 border-white max-w-xs rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 ease-in-out;
}

