@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input {
        @apply p-4 h-11 rounded shadow;
    }
}

.search-input .wrapper:first-child {
    border:none;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0.1) !important;
    border-radius: 0.25rem;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}


.circular {
    touch-action: none;
    display: grid;
    place-items: center;
    position: relative;
    aspect-ratio: 1;
    border-radius: 50%;
}

.circular > .card {
    grid-area: 1/1;
    user-select: none;
    /*overflow: hidden;*/
    /*pointer-events: none;*/
}

